.openhours_sidebar_wrapper {
  padding: 5px 30px;
  font-size: 13px;
}
.openhours_sidebar_day {
  margin-left: 5px;
}
.openhours_sidebar_time {
  float: right;
}

.message-wrapper {
    max-height: 500px;
    overflow: auto;
    padding: 5px;
}

.message-right {
    text-align: right;
}

.badge-custom {
    white-space: normal !important;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left !important;
    line-height: 2 !important;
    /* max-width: calc(100% - 50px); */
}

.card-custom {
    width: 32px;
    height: 32px;
    color: #28c76f!important
}

.custom-card-link {
    color: #28c76f!important
}

.theme-secondary .form-control:focus {
    border-color: #82868b;
}
.theme-success .form-control:focus {
    border-color: #28c76f;
}
.theme-danger .form-control:focus {
    border-color: #ea5455;
}
.theme-info .form-control:focus {
    border-color: #00cfe8;
}
.theme-warning .form-control:focus {
    border-color: #ff9f43;
}
.theme-dark .form-control:focus {
    border-color: #4b4b4b;
}
