.openhours_sidebar_wrapper {
  padding: 5px 30px;
  font-size: 13px;
}
.openhours_sidebar_day {
  margin-left: 5px;
}
.openhours_sidebar_time {
  float: right;
}

.message-wrapper {
    max-height: 500px;
    overflow: auto;
    padding: 5px;
}

.message-right {
    text-align: right;
}

.badge-custom {
    white-space: normal !important;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left !important;
    line-height: 2 !important;
    /* max-width: calc(100% - 50px); */
}

.card-custom {
    width: 32px;
    height: 32px;
    color: #28c76f!important
}

.custom-card-link {
    color: #28c76f!important
}

.payment-box {
    width: 270px;
}

.theme-secondary .form-control:focus,
.theme-secondary .form-select:focus {
    border-color: #82868b !important;
}
.theme-success .form-control:focus,
.theme-success .form-select:focus {
    border-color: #28c76f !important;
}
.theme-danger .form-control:focus,
.theme-danger .form-select:focus {
    border-color: #ea5455 !important;
}
.theme-info .form-control:focus,
.theme-info .form-select:focus {
    border-color: #00cfe8 !important;
}
.theme-warning .form-control:focus,
.theme-warning .form-select:focus {
    border-color: #ff9f43 !important;
}
.theme-dark .form-control:focus,
.theme-dark .form-select:focus {
    border-color: #4b4b4b !important;
}
.theme-dblue .form-control:focus,
.theme-dblue .form-select:focus {
    border-color: #180061 !important;
}
.theme-dgreen .form-control:focus,
.theme-dgreen .form-select:focus {
    border-color: #044a01 !important;
}
.theme-soil .form-control:focus,
.theme-soil .form-select:focus {
    border-color: #ed7905 !important;
}
.theme-dred .form-control:focus,
.theme-dred .form-select:focus {
    border-color: #d90b04 !important;
}
.theme-tred .form-control:focus,
.theme-tred .form-select:focus {
    border-color: #910601 !important;
}

.theme-secondary a { color: #82868b; }
.theme-success a { color: #28c76f; }
.theme-danger a { color: #ea5455; }
.theme-info a { color: #00cfe8; }
.theme-dark a { color: #4b4b4b; }
.theme-warning a { color: #ff9f43; }
.theme-dblue a { color: #180061; }
.theme-dgreen a { color: #044a01; }
.theme-soil a { color: #ed7905; }
.theme-dred a { color: #d90b04; }
.theme-tred a { color: #910601; }

.theme-secondary .page-item.active .page-link { background-color: #82868b !important; }
.theme-success .page-item.active .page-link { background-color: #28c76f !important; }
.theme-danger .page-item.active .page-link { background-color: #ea5455 !important; }
.theme-info .page-item.active .page-link { background-color: #00cfe8 !important; }
.theme-warning .page-item.active .page-link { background-color: #ff9f43 !important; }
.theme-dark .page-item.active .page-link { background-color: #4b4b4b !important; }
.theme-dblue .page-item.active .page-link { background-color: #180061 !important; }
.theme-dgreen .page-item.active .page-link { background-color: #044a01 !important; }
.theme-soil .page-item.active .page-link { background-color: #ed7905 !important; }
.theme-dred .page-item.active .page-link { background-color: #d90b04 !important; }
.theme-tred .page-item.active .page-link { background-color: #910601 !important; }

.theme-secondary .form-check-input:checked { background-color: #82868b !important; border-color: #82868b; }
.theme-success .form-check-input:checked { background-color: #28c76f !important; border-color: #28c76f; }
.theme-danger .form-check-input:checked { background-color: #ea5455 !important; border-color: #ea5455; }
.theme-info .form-check-input:checked { background-color: #00cfe8 !important; border-color: #00cfe8; }
.theme-warning .form-check-input:checked { background-color: #ff9f43 !important; border-color: #ff9f43; }
.theme-dark .form-check-input:checked { background-color: #4b4b4b !important; border-color: #4b4b4b; }
.theme-dblue .form-check-input:checked { background-color: #180061 !important; border-color: #180061; }
.theme-dgreen .form-check-input:checked { background-color: #044a01 !important; border-color: #044a01; }
.theme-soil .form-check-input:checked { background-color: #ed7905 !important; border-color: #ed7905; }
.theme-dred .form-check-input:checked { background-color: #d90b04 !important; border-color: #d90b04; }
.theme-tred .form-check-input:checked { background-color: #910601 !important; border-color: #910601; }

.theme-secondary .form-check-input:focus { border-color: #82868b; }
.theme-success .form-check-input:focus { border-color: #28c76f; }
.theme-danger .form-check-input:focus { border-color: #ea5455; }
.theme-info .form-check-input:focus { border-color: #00cfe8; }
.theme-warning .form-check-input:focus { border-color: #ff9f43; }
.theme-dark .form-check-input:focus { border-color: #4b4b4b; }
.theme-dblue .form-check-input:focus { border-color: #180061; }
.theme-dgreen .form-check-input:focus { border-color: #044a01; }
.theme-soil .form-check-input:focus { border-color: #ed7905; }
.theme-dred .form-check-input:focus { border-color: #d90b04; }
.theme-tred .form-check-input:focus { border-color: #910601; }

.theme-primary .ticket-open td { color: #7367f0 !important; font-weight: bold; }
.theme-secondary .ticket-open td { color: #82868b !important; font-weight: bold; }
.theme-success .ticket-open td { color: #28c76f !important; font-weight: bold; }
.theme-danger .ticket-open td { color: #ea5455 !important; font-weight: bold; }
.theme-info .ticket-open td { color: #00cfe8 !important; font-weight: bold; }
.theme-warning .ticket-open td { color: #ff9f43 !important; font-weight: bold; }
.theme-dark .ticket-open td { color: #4b4b4b !important; font-weight: bold; }
.theme-dblue .ticket-open td { color: #180061 !important; font-weight: bold; }
.theme-dgreen .ticket-open td { color: #044a01 !important; font-weight: bold; }
.theme-soil .ticket-open td { color: #ed7905 !important; font-weight: bold; }
.theme-dred .ticket-open td { color: #d90b04 !important; font-weight: bold; }
.theme-tred .ticket-open td { color: #910601 !important; font-weight: bold; }

.theme-secondary .input-group:focus-within .input-group-text { border-color: #82868b }
.theme-success .input-group:focus-within .input-group-text { border-color: #28c76f }
.theme-danger .input-group:focus-within .input-group-text { border-color: #ea5455 }
.theme-info .input-group:focus-within .input-group-text { border-color: #00cfe8 }
.theme-warning .input-group:focus-within .input-group-text { border-color: #ff9f43 }
.theme-dark .input-group:focus-within .input-group-text { border-color: #4b4b4b }
.theme-dblue .input-group:focus-within .input-group-text { border-color: #180061 }
.theme-dgreen .input-group:focus-within .input-group-text { border-color: #044a01 }
.theme-soil .input-group:focus-within .input-group-text { border-color: #ed7905 }
.theme-dred .input-group:focus-within .input-group-text { border-color: #d90b04 }
.theme-tred .input-group:focus-within .input-group-text { border-color: #910601 }

.main-menu .navigation.theme-secondary > li ul .active { background: #82868b !important; box-shadow: 0 0 10px 1px rgba(130, 134, 139, 0.7) !important; }
.main-menu .navigation.theme-success > li ul .active { background: #28c76f !important; box-shadow: 0 0 10px 1px rgba(40, 199, 111, 0.7) !important; }
.main-menu .navigation.theme-danger > li ul .active { background: #ea5455 !important; box-shadow: 0 0 10px 1px rgba(234, 84, 85, 0.7) !important; }
.main-menu .navigation.theme-info > li ul .active { background: #00cfe8 !important; box-shadow: 0 0 10px 1px rgba(0, 207, 232, 0.7) !important; }
.main-menu .navigation.theme-warning > li ul .active { background: #ff9f43 !important; box-shadow: 0 0 10px 1px rgba(255, 159, 67, 0.7) !important; }
.main-menu .navigation.theme-dark > li ul .active { background: #4b4b4b !important; box-shadow: 0 0 10px 1px rgba(75, 75, 75, 0.7) !important; }
.main-menu .navigation.theme-dblue > li ul .active { background: #180061 !important; box-shadow: 0 0 10px 1px rgba(24, 0, 97, 0.7) !important; }
.main-menu .navigation.theme-dgreen > li ul .active { background: #044a01 !important; box-shadow: 0 0 10px 1px rgba(4, 74, 1, 0.7) !important; }
.main-menu .navigation.theme-soil > li ul .active { background: #ed7905 !important; box-shadow: 0 0 10px 1px rgba(237, 121, 5, 0.7) !important; }
.main-menu .navigation.theme-dred > li ul .active { background: #d90b04 !important; box-shadow: 0 0 10px 1px rgba(217, 11, 4, 0.7) !important; }
.main-menu .navigation.theme-tred > li ul .active { background: #910601 !important; box-shadow: 0 0 10px 1px rgba(145, 6, 1, 0.7) !important; }
